.cartContainer {
  max-width: 1024px;
  margin: 0 auto;
}

.cartTitleLine {
  display: flex;
  justify-content: space-between;
}

.cartContent {
  justify-self: center;
  margin: 40px;
}

.shop {
  border-radius: 6px;
  color: var(--text);
  text-decoration-line: none;
  padding: 0 20px;
  transition:
    background-color 800ms,
    color 1s;
}

.shop:hover {
  background-color: var(--text);
  color: var(--header-bg);
}
