.cartContainer {
  max-width: 1024px;
  margin: 0 auto;
}

.cartTitleLine {
  display: flex;
  justify-content: space-between;
}
.empty {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartContent {
  justify-self: center;
  margin: 40px;
}

.shop {
  border-radius: 6px;
  color: var(--text);
  text-decoration-line: none;
  padding: 0 20px;
  transition:
    background-color 800ms,
    color 1s;
}

.shop:hover {
  background-color: var(--text);
  color: var(--header-bg);
}

.cartFooter {
  display: flex;
  justify-content: flex-end;
}

.cartFooterContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

.subtotal {
  font-size: 1.1em;
  font-weight: 600;
}

.checkOut {
  padding: 12px;
  font-size: 1.2em;
}
