.cartAlertAnchor {
  position: sticky;
  top: var(--header-actions-height, 48.038px);
  height: 0;
  right: 0;
}
.cartAlert {
  position: absolute;
  background: var(--header-bg);
  border-radius: 12px;
  padding: 10px;
  border: solid 1px lightgray;
  right: 0;
  top: 0;
  z-index: 10;
}

.titleLine {
  display: flex;
  justify-content: space-between;
}

.xBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.xImg {
  width: 18px;
}

.viewCartBtn {
  display: block;
  margin: 0 30%;
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
  border: gray solid 1px;
  border-radius: 8px;
  padding: 8px 12px;
  transition:
    color 1s,
    background-color 800ms;
}

.viewCartBtn:hover {
  color: var(--header-bg);
  background-color: var(--text);
}

/* Mobile version */
@media (max-width: 640px) {
  .viewCartBtn {
    margin: auto;
  }
}
