.details,
.countCell,
.total {
  padding: 8px 40px;
}

.details {
  display: flex;
  align-items: center;
}

.title {
  margin: 0 20px;
  flex-wrap: wrap;
}

.image {
  width: 90px;
  height: 90px;
  object-fit: cover;
}
