.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  margin-top: 80px;
  width: 100%;
  background: var(--footer-bg);
  text-align: left;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
}

.footerContent h2 {
  margin-bottom: 0.4em;
}

.newsletter {
  display: flex;
  flex-direction: column;
  min-width: 275px;
}

.newsletter label {
  margin-bottom: 8px;
}

.newsEmail {
  padding: 10px;
  max-width: 200px;
}

.newsSignUpBtn {
  max-width: 110px;
  padding: 10px;
  margin-left: 8px;
}

.lineDivider {
  width: 80%;
  border-top: 1px solid rgb(165, 165, 165);
  margin-top: 10px;
}

.copyright {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 0.83em;
  color: #607d8b;
}

.copyright a {
  text-decoration: none;
  color: #607d8b;
}

.flag {
  width: 26px;
}

.githubLink {
  display: flex;
  gap: 5px;
  align-items: center;
  transition: color 800ms;
}

a.githubLink:hover {
  color: var(--header-bg);
}

.githubLogo {
  width: 20px;
}
