.header {
  --header-bg: #f9fcf1;
  --btn-text: #976945;
  display: flex;
  background: var(--header-bg);
  height: 140px;
  width: 100%;
}

.headerLogo img {
  max-height: 100%;
}

.headerTitle {
  align-self: center;
  color: var(--text-h);
  margin-right: 30px;
}

.headerTitle h1 {
  margin-top: 0;
}

.headerActions {
  align-self: center;
  margin-left: auto;
  margin-right: 30px;
}

.headerActions ul {
  display: flex;
  list-style: none;
  gap: 16px;
  height: inherit;
}

.headerActions button {
  padding: 8px 10px 6px;
  border-radius: 6px;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--btn-text);
  font-size: 20px;
  font-weight: 600;
  transition:
    background-color 800ms,
    color 1s;
}

.headerActions button:hover {
  background-color: var(--btn-text);
  color: var(--header-bg);
}

/* Dividing line gets added only on small viewports. */
@media (max-width: 1024px) {
  .line {
    align-self: center;
    height: 65%;
    border-left: #97694559 1px solid;
  }
}
