.benefitsContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--header-bg);
  justify-content: center;
  gap: 20px;
  padding: 180px 0;
}

.benefit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;

  /* Egg shape. */
  aspect-ratio: 4/3;
  border-radius: 60% 40% 40% 60% / 50% 50% 50% 50%;
  background: radial-gradient(
    circle at 35% 35%,
    #ffffff 0%,
    #ffeedd 25%,
    #e2bca2 75%,
    #bfa08a 100%
  );
  filter: drop-shadow(0 20px 15px rgba(0, 0, 0, 0.2));
}

.callToActionContainer {
  display: flex;
  justify-content: center;
  background-color: var(--header-bg);
  width: 100%;
  height: 800px;
  margin-bottom: 180px;
  position: relative;
}

.callToAction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 180px 0;
  background-color: var(--header-bg);
}

.ctaTextContainer {
  width: 80%;
}

.ctaText {
  color: var(--text-h);
  z-index: 2;
}

.ctaImgContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 2;
}

.ctaImgContainer img {
  width: 200px;
  height: 200px;
  margin: 0 clamp(0px, 1vw - 10px, 20px) 1em;
}

.arrowRight {
  position: absolute;
  left: 0;
  background-color: #976945;
  width: 50%;
  height: 100%;
  clip-path: polygon(0 0, 0% 100%, 25% 50%);
}

.arrowLeft {
  position: absolute;
  right: 0;
  background-color: #976945;
  width: 50%;
  height: 100%;
  clip-path: polygon(100% 0, 100% 100%, 75% 50%);
}

.shopBtn {
  cursor: pointer;
  background-color: #976945;
  border-radius: 8px;
  text-decoration-line: none;
  border: none;
  color: var(--header-bg);
  font-size: 20px;
  font-weight: 600;
  transition: background-color 800ms;
  width: 200px;
  padding: 30px 0;
  margin: 1em 0;
  box-shadow: 0 0 6px var(--text-h);
}

.shopBtn:hover {
  background-color: var(--text-h);
}

.shopBtn:active {
  transform: scale(102%);
}

@media (max-width: 640px) {
  .ctaImgContainer img {
    margin: 4px;
  }
}
