:root {
  --text: #976945;
  --text-h: #36240e;
  --header-bg: #f9fcf1;
  --bg: #fffff0;
  --footer-bg: #c4dccb;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: Montserrat, system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #2c2c2c;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 1920px; /* The width of the hero image */
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}
p {
  margin: 0;
}
