.itemCard {
  display: flex;
  flex-basis: 25%;
  flex-shrink: 0;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  text-align: left;

  border: red solid 2px;
}

.itemImageContainer {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.itemImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.itemContent {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 8px;
}

.price {
  font-weight: 700;
  font-size: 1.1em;
}

.itemActions {
  display: grid;
  grid-template-columns: 40px 30px 1fr;
  grid-template-areas:
    "quantity plus addToCart"
    "quantity minus addToCart";
  gap: 1px 10px;
  justify-content: start;
  width: 100%;
}

/* To remove spinners, arrows, from the number input.*/
/* Chrome, Edge, Safari, Opera */
.quantity::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.quantity {
  -moz-appearance: textfield;
  appearance: textfield;
}

.quantity {
  grid-area: quantity;
  width: 40px;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.9rem;
}

.plus,
.minus {
  width: 30px;
}

.plus {
  grid-area: plus;
}

.minus {
  grid-area: minus;
}

.addToCart {
  grid-area: addToCart;
  width: 100%;
}
